# Diretórios de compilação
bin/
obj/

# Cache do Visual Studio
.vs/

# Logs e arquivos temporários
*.log
*.tmp
*.pid
*.env

# Arquivos de configuração do Visual Studio
*.user
*.suo
*.sln.docstates

# Diretórios de publicação
publish/
out/

# Arquivos de backup
*.bak
*.swp
